


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}


h1 {
}

h2 {
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

/* headings */
.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}


#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 5%;
}

/* navbar brand */
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    margin: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

/* navigation bar  */
.navbar {
    padding: 0 0 4.5rem;
}

/* download button */
.download-btn {
    margin: 3% 3% 30px;
}

/* iphone image */
.iphone-img {
    position: absolute;
    right: 30%;
    width: 60%;
    transform: rotate(25deg);
}

/* feature icon */
.feature-icon {
    color: #ef8172;
    margin-bottom: 3%;
}

.feature-icon:hover {
    color: #ff4c68;
}

/* feature */
#features {
    text-align: center;
    padding: 7% 10%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-heading {
    font-size: 1.5rem;
}

.feature-text {
    color: #8f8f8f;
    width: 50%;
    margin: 0 auto 30px;
}

/* testimonials */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 16px;
}

#press {
    background-color: #ef8172;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* price */
#pricing {
    padding: 5% 10% 5%;
    text-align: center;
}

.pricing-col {
    padding: 5% auto;
    margin-bottom: 5%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

#cta {
    background-color: #ff4c68;
    text-align: center;
}
.cta-heading {
    font-size: 1.5rem;
}

.cta-content {
    padding: 60px 15% 30px;
    color: #fff;
    line-height: 1.5;
}

#footer {
    text-align: center;
}

.link-icon {
    margin: 2% 1%;
}

.link-icon:hover {
    color: #ff4c68;
}

@media (max-width: 1028px) {
    .big-heading {
        font-size: 2rem;
    }
    .testimonial-text, .section-heading, .price-text {
        font-size: 1.5rem;
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
    .iphone-img {
        position: static;
        transform: rotate(0);
        margin: auto;
    }

    #title {
        text-align: center;
    }
}
